* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 12px;
    margin: 0;
    color: #111;
    background-color: rgb(236, 236, 236);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.col {
    float: left;
}

.row:before,
.row:after {
    content: '';
    clear: both;
    display: block;
}